{% extends "layout.html" %}

{% block content %}
<div class="container-fluid text-center block-text" ,
    style="background-image:linear-gradient(to bottom, #17a2b8 , #005960);">
    Grocery Shops
</div>
<div class="container-fluid" style="background-color: #17a2b8;">
    <div class="row text-center bg-cipher1">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="btn-group py-5">
                <!-- <label for="original-text text-white">Search for shops near my location:</label> -->
                <button class="text-center btn btn-primary" type="submit" value="search_nearest" name="fetch"
                    onclick="getLocation()">Search for shops near my location</button>
            </div>
            <!-- <input class="input-lg" type="text" id="msg"> -->
            {% block radioOptions %} {% endblock radioOptions %}
            <div class="text-center text-white">
                <h1 class="text-white">OR</h1>
            </div>
            <form class="py-5" method="POST">
                <h3 for="list" class="text-white">Search for shops in selected area</h3>
                <select class="container-fluid" name="area" id="list" size="4">
                    <option class="border-bottom wrap-text" value="">This is a very very very very very very very very very very long option</option>
                    {% for area in areaList %}
                    <option class="border-bottom wrap-text" value="{{area}}">{{area}}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="container-fluid pt-3">
                    <button type="submit" class="btn btn-primary" name="fetch" value="search_area">Fetch</button>
                </div>
            </form>
            <div class="container-fluid pb-3 px-1" id="output">
                {% if shops != [] %}
                <div class="text-center text-white">
                    <h3>Shops Near You</h3>
                </div>
                <br>
                <div class=" container-fluid table-responsive">
                    <table class="table table-striped table-hover text-center mx-auto" style="background-color: white;">
                        <colgroup>
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 50%;">
                        </colgroup>
                        <thead>
                            <tr class="">
                                <th class="">Shop Name</th>
                                <th class="">Contact</th>
                                <th class="">Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for name,contact,address in shops %}
                            <tr class="">
                                <td class="d-table-cell">{{ name }}</td>
                                <td class="d-table-cell">{{ contact }}</td>
                                <td class="d-table-cell">{{ address }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                <div class="text-center text-white">
                    <h3>Check your search results here</h3>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-2 bg-cipher1"></div>
    </div>
</div>
<div>
    <div class="col-sm-2"></div>

</div>
{% endblock content %}