{% extends "layout.html" %}

{% block content %}
<div class="container-fluid text-center block-text" ,
    style="background-image:linear-gradient(to bottom, #17a2b8 , #005960);">
    GROCERY SHOPS
</div>
<div class="container-fluid">
    <div class="row text-center ">
        <div class="col-sm-2 bg-cipher1"></div>
        <div class="col-sm-8 border ">
            <div class="btn-group py-5">
                <!-- <label for="original-text text-white">Search for shops near my location:</label> -->
                <button class="text-center btn-primary" type="submit" value="search_nearest" name="fetch"
                    onclick="getLocation()">Search for shops near my location</button>
            </div>
            <!-- <input class="input-lg" type="text" id="msg"> -->
            {% block radioOptions %} {% endblock radioOptions %}
            <div class="text-center text-white">
                <h1>OR</h1>
            </div>
            <form class="py-5" method="POST">
                <h3 for="list">Search for shops in selected area </h3>
                <select class="container-fluid" name="area" id="list" size="4">
                    <option class="border-bottom wrap-text" value="">This is a very very very very very very very very very very long option</option>
                    {% for area in areaList %}
                    <option class="border-bottom wrap-text" value="{{area}}">{{area}}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="container-fluid pt-3">
                    <button type="submit" class="btn btn-primary" name="fetch" value="search_area">Fetch</button>
                </div>
            </form>
            <div class="container-fluid mx-auto pb-3 px-1" id="output">
                {% if shops != [] %}
                <div class="text-center">
                    <strong>SHOPS NEAR YOU.</strong>
                </div>
                <br>
                <div class=" container-fluid table-responsive justify-content-auto">
                    <table class="d-table table-bodered text-center table-hover border mx-auto">
                        <colgroup>
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 50%;">
                        </colgroup>
                        <thead>
                            <tr class="d-table-row border-bottom">
                                <th class="d-table-cell">Shop Name</th>
                                <th class="d-table-cell">Contact</th>
                                <th class="d-table-cell">Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for name,contact,address in shops %}
                            <tr class="d-table-row border-bottom">
                                <td class="d-table-cell">{{ name }}</td>
                                <td class="d-table-cell">{{ contact }}</td>
                                <td class="d-table-cell">{{ address }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                <div class="text-center">
                    Check your search results here.
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-2 bg-cipher1"></div>
    </div>
</div>
<div>
    <div class="col-sm-2"></div>

</div>
{% endblock content %}